---
import EvenColumns from "../components/EvenColumns.astro";
import FormField from "../components/Forms/FormField.astro";
import FormSubmit from "../components/Forms/FormSubmit.astro";
import NetlifyForm from "../components/Forms/NetlifyForm.astro";
import Heading from "../components/Heading/H1.astro";
import H2 from "../components/Heading/H2.astro";
import Icon from "../components/Icon.astro";
import TextFlow from "../components/TextFlow.astro";
import Wrapper from "../components/Wrapper.astro";
import { ADDRESS, EMAIL_ADDRESS, PHONE_NUMBER } from "../config";
import BaseLayout from "../layouts/BaseLayout.astro";

---

<BaseLayout
    lang="en"
    title="Contact Us"
    description="Contact Elite Canadian Homestay"
>

    <Heading>
        Contact Us
    </Heading>

    <section>
        <Wrapper width="max" padding="both">
            <EvenColumns class="gap-8">

                <div class="bg-gradient-to-t from-primary-100 to-primary-50 p-6 rounded-3xl">
                    <TextFlow>

                        <H2 class="text-lg mb-6">
                            We would love to hear from you!
                        </H2>

                        <p>Whether you're considering becoming a host family, a prospective student, or someone with questions about our programs, we welcome the opportunity to connect with you. Please feel free to reach out to us using the form or contact details provided below. </p>

                        <h3 class="border-t border-primary-700 py-2 font-bold">
                            Contact us
                        </h3>
                        <p class="mt-0">
                            <a href={'mailto:' + EMAIL_ADDRESS} class="flex items-center gap-1 no-underline w-fit">
                                <Icon icon="mail" class=" no-underline" />
                                {EMAIL_ADDRESS}
                            </a>
                            <a href={'tel:' + PHONE_NUMBER} class="flex items-center gap-1 no-underline w-fit">
                                <Icon icon="phone" />
                                {PHONE_NUMBER}
                            </a>
                        </p>

                        <h3 class="border-t border-primary-700 py-2 font-bold">
                            Our location
                        </h3>
                        <p class="mt-0 flex items-start gap-1">
                            <Icon icon="location_on" />
                            {ADDRESS.street} <br />
                            {ADDRESS.city} <br />
                            {ADDRESS.postal_code}
                        </p>

                        <h3 class="border-t border-primary-700 py-2 font-bold">
                            Social media
                        </h3>
                        <p class="mt-0">
                            <a href="https://www.facebook.com/EliteHomestay" target="_blank" class="hover:text-secondary-500 flex items-center gap-1 w-fit no-underline">
                                <svg 
                                    width="24" 
                                    height="24" 
                                    viewBox="0 0 24 24" 
                                    fill="none"
                                >
                                    <path d="M23.04 0H0.96C0.429 0 0 0.429 0 0.96V23.04C0 23.571 0.429 24 0.96 24H23.04C23.571 24 24 23.571 24 23.04V0.96C24 0.429 23.571 0 23.04 0ZM22.08 22.08H16.557V14.706H19.677L20.145 11.085H16.557V8.772C16.557 7.722 16.848 7.008 18.351 7.008H20.268V3.768C19.935 3.723 18.798 3.624 17.472 3.624C14.706 3.624 12.813 5.313 12.813 8.412V11.082H9.687V14.703H12.816V22.08H1.92V1.92H22.08V22.08Z" fill="currentColor"/>
                                </svg>
                                Facebook
                            </a>
                        </p>

                    </TextFlow>

                </div>

                <NetlifyForm name="Elite Canadian Homestay Contact Form" subject="Website Inquiry - Elite Canadian Homestay">
                    
                    <FormField name="Name" type="text" required />

                    <FormField name="Email" type="email" required />

                    <FormField name="Phone number" type="tel" />

                    <FormField name="Message" type="textarea" required />

                    <FormSubmit />

                </NetlifyForm>


            </EvenColumns>
        </Wrapper>
    </section>

</BaseLayout>
